*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body,html{
    height: 100%;
    width: 100%;
}

#color{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}

.change{
    height: 50px;
    background-color: grey;
    width: 250px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
border-radius: 5px;
font-size: large;
font-weight: 800;
}

button{
    /* justify-content: center; */
    display: block;
    /* display: flex; */
    text-align: center;
    align-items: center;
     /* margin-top: 20px; */
     margin: 20px auto; /* Top-bottom: 20px, Left-right: auto */
     height: 50px;
     width: 150px;
     border-radius: 5px;
     font-weight: 600;
     cursor: pointer;
     justify-content: center;
    margin-left: 50px;
    background-color: rgb(81, 69, 69);
    /* color: rgb(166, 36, 99); */
    color: white;
}

button:hover{
    box-shadow:  0px 0px 10px rgb(60, 54, 54);
}

